<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.ProductDao">
    <!--Product selectOneById(int p_id);-->
<select id="selectOneById" resultType="Product">
    select * from t_product where p_id = #{p_id}
</select>

</mapper>